@model LoginModel

<!-- LOGIN CARD START -->
<div class="card">
    <div class="card-body login-card-body">
        <!-- HEADER START -->
        <p class="login-box-msg">Sign in to get started</p>
        <!-- HEADER END -->
        <form asp-controller="Account"
              asp-action="@nameof(IAccountController.Login)"
              method="post">
            <div class="input-group mb-3">
                <input asp-for="@Model.EmployeeID"
                       class="form-control"
                       placeholder="Employee ID">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-id-card"></span>
                    </div>
                </div>
                <!-- INPUT VALIDATION MESSAGE -->
                <span asp-validation-for="@Model.EmployeeID" />
            </div>
            <div class="input-group mb-3">

                <input asp-for="@Model.Password"
                       class="form-control"
                       placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <!-- INPUT VALIDATION MESSAGE -->
                <span asp-validation-for="@Model.Password" />
            </div>
            @if (ViewBag.Error != null)
            {
                <p class="text-center text-danger mb-0">@ViewBag.Error</p>
            }
            <input type="hidden" name="returnUrl" value="@Context.Request.Query["returnUrl"].SingleOrDefault()" />
            <hr>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary btn-block">Sign In</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a asp-action="GuestLogin" class="btn btn-outline-secondary btn-block">Guest Log in</a>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-card-body -->
</div>
<!-- LOGIN CARD END -->