@model List<WARDx.Data.TableContent>

@if (Model is null)
{
    // no content to display
}
else
{
    <!-- TABLE BODY CONTENT START -->
    <tbody>
        <!-- ROW CONTENT HERE -->
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.Value1</td>
            <td>@item.Value2</td>
            <td>@item.Value3</td>
            <td>@item.Value4</td>
            <td>@item.Value5</td>
            <td>@item.Value6</td>
            <td>@item.Value7</td>
        </tr>
        }
    </tbody>
    <!-- TABLE BODY CONTENT END -->
}